<div class="container">
	<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Diary App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">About</a>
      
     
    </div>
  </div>
</nav>

<div class="card">
  <div class="card-header">
  	<div class="row">
      	<div class="col-md-6">
      		Add An Item to Your Diary
      	</div>
      	<div class="col-md-6">
      		Your Diary Lists ({{itemCount}})
      	</div>
</div>
  </div>
  <div class="card-body">
  	<div class="row">
  		<div class="col-md-6">
  			<p>Use the form below to add a new Diary Item</p>
  			<form>
			  <div class="form-group">
			   	 <input type="text" class="form-control" id="exampleFormControlFile1" placeholder="Diary item" [(ngModel)] = "goalText">
			   	 <br>
			   	
			   	 <input type="submit" name="" [value]="btnText" class="btn btn-success">
			    
			  </div>
			</form>
  			
  		</div>
  		<div class="col-md-6">
  			
  		</div>
  	</div>
  
  </div>
</div>
